@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using PerfectAimBowling.Models;
@using Archetype.Models;
@using Archetype.Extensions;
@using Newtonsoft.Json;

@{
    var heroImage = Umbraco.Media(Umbraco.AssignedContentItem.GetPropertyValue<int>("heroImage"));
    var heroTitle = Umbraco.AssignedContentItem.GetPropertyValue("heroTitle");
    var heroIntroduction = Umbraco.AssignedContentItem.GetPropertyValue("heroIntroduction");
    var heroButton = Umbraco.AssignedContentItem.GetPropertyValue<ArchetypeModel>("heroButton");
}

<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(@heroImage.Url);">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>@( String.IsNullOrWhiteSpace(heroTitle.ToString()) ? Umbraco.AssignedContentItem.Name : heroTitle )</h1>
                        <h2>@( String.IsNullOrWhiteSpace(heroIntroduction.ToString()) ? String.Empty : heroIntroduction )</h2>
                        <p>
                            @if (!heroButton.Fieldsets.Any()) {
                                foreach (var fieldset in heroButton)
                                {
                                    var link = JsonConvert.DeserializeObject<LinkPickerModel>(fieldset.GetValue("buttonLink").ToString());
                                    <a href="@link.Url" target="@link.Target" class="btn btn-white btn-outline btn-lg">@fieldset.GetValue("buttonText")</a>
                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
