@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using PerfectAimBowling.Models

<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-xs-2">
                <div id="gtco-logo"><a href="/">Greatness.</a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    @RenderChildItems(Model)
                </ul>
            </div>
        </div>

    </div>
</nav>

@helper RenderChildItems(List<NavigationListItem> items)
{ 
    if (items != null)
    {
        foreach (var item in items)
        {
            string cssClassChildren = item.HasChildren ? "has-dropdown" : null;

            <li class="@cssClassChildren">
                @if (!String.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    string cssClass = item.Link.Url == Umbraco.AssignedContentItem.Url ? "active" : null;
                    

                    <a href="@item.Link.Url" class="@cssClass">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ul class="dropdown">
                        @RenderChildItems(item.Items)
                    </ul>
                }
            </li>
        }
    }
}